.vscode/
Languages/
QtPlugins/
Sys/
python-embed/
python-stubs/src/__pycache__/
python-stubs/src/agents/__pycache__/
python-stubs\src\common\__pycache__/
python-stubs/src/.venv/

build_info.txt
license.txt
qt.conf

*.exe
*.dll